@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container_login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(../image/bg_login.png);
}

.logo_login{
    width: 13%;
    height: 8%;
    margin-bottom: 17px;
}

.form_login{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_crid{
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 25px;
    border:1px solid grey;
}

.label_name{
    font-size: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.btn_login{
    
    width: 110px;
    padding:5px;
    border-radius: 25px;
    border:none;
    background-color: white;
    color:#06387B;
    font-size: 12px;
}
